MOTHERDUCK_TOKEN=your_token_here
AIRBYTE_CONNECTION_ID_FORECAST=your_connection_id_here
AIRBYTE_CONNECTION_ID_ASTRONOMY=your_connection_id_here
AIRBYTE_HOST=localhost
AIRBYTE_PORT=8000
AIRBYTE_USERNAME=airbyte
AIRBYTE_PASSWORD=password
